name: Sync to Hugging Face Spaces

on:
  push:
    branches:
      - main
    paths:
      - 'hf_space/**'
  workflow_dispatch:

jobs:
  sync-to-hf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "ci@mulberry-project.ai"
          git config --global user.name "Mulberry CI"
          cd hf_space
          git init
          git remote add hf https://re-eul:${HF_TOKEN}@huggingface.co/spaces/re-eul/mulberry-demo
          git add .
          git commit -m "Sync from GitHub"
          git push hf main --force
